{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'student/css/style.css' %}">
</head>

<body>
    <H1>welcome to student management system student section</H1>
    <img src="{% static 'student/images/pic2.jpg' %}" alt="">
    <p>Name : {{name}}</p>
    {% if age > 20 %}
    <h2>You are real Arifen</h2>
    {% else %}
    <h2>You are not real Arifen</h2>
    {% endif %}

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Subject Name</th>
            <th>Marks</th>
            <th>Grade</th>
        </tr>
        {% for subject in marks %}
        <tr>
            <td>{{ subject.id }}</td>
            <td>{{ subject.subject }}</td>
            <td>{{ subject.marks }}</td>
            <td>
                {% if subject.marks >= 90 %}
                    A
                {% elif subject.marks >= 80 %}
                    B
                {% elif subject.marks >= 70 %}
                    C
                {% else %}
                    D 
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        <!--Filter in DTL-->



        <!--Add value-->
        {{age | add:"2"}}
        <!--Divisible Check-->
        <h1>{{age | divisibleby:"2"}}</h1>
        <!--Length-->
        <h1>{{"Hello World" | length}}</h1>
        <!--Slice-->
        <h1>{{"Hello world" | slice:"2:5"}}</h1>


    </table>
</body>

</html>